.currentPlayer {
  height: 60vh;
  margin: auto;
  position: fixed;
  left: 2vw;
  top: 15vh;
}

.Character {
  display:inline-block;
  justify-content: 'center';
  align-items: 'center';
}

@media screen and (orientation: portrait) {
  .currentPlayer {
    height: 25vh; 
    top: 5vh; 
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Move back by half of its own width */
  }
}