.Settings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.settingsTitle {
  padding-top: 3vh;
  padding-bottom: 2vh;
  font-size: 7vh;
}

.options {
  display: flex;
  flex-direction: column;
  font-size: 3vh;
  height: 15px;
  gap: 15px;
  align-items: center;
}

.option {
  display: flex;
  align-items: center;
  gap: 6px;
}



input[type='checkbox'] {
  width:30px;
  height:30px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}

input[type='checkbox']:checked {
  background: #abd;
}

.tabContainer {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}


.tab {
  margin-right: 10px; 
}

.tab.active {
  /* ATBA */
}

.colorBox {
  width: 20px; /* Adjust width and height as needed */
  height: 20px;
  margin-left: 10px; /* Adjust margin as needed */
  display: inline-block;
  border: 1px solid #000; /* Add border for visibility */
}