.App {
  height: 100%;
  font-family: 'Fredoka One';
  overflow: hidden;
}

.sliding-background {
  position: fixed;
  top: var(--animation-percent, 100%);
  left: 0;
  background-color: var(--background-color, #f3c801);
  background-image: url('./images/Menu_Pattern.png');
  z-index: -1;
  height: 999%;
  width: 999%;
  animation: var(--slide-animation, slide-down) var(--animation-speed) linear infinite;
}


@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

Button {
  font-size: 4vh;
  padding: 1vh 2vh;
  color: var(--button-color, #28392b);
  background-color: var(--button-color, #a3c78d);
  border-color: var(--button-color, #4c6c53);
  background-image: url('./images/Button_Pattern.png');
  border-radius: 2vh;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
}

button:hover {
  background-color: rgb(164, 219, 131);
  cursor: pointer;
}

button:active {
  background-color: rgb(140, 181, 115);
}

.backgroundAnimal {
  height: 400px;
}